# Mac
.DS_Store

# Backend
Backend/target/
Backend/uploads/
Backend/*.log

# Frontend
Frontend/build/
Frontend/.dart_tool/
Frontend/.flutter-plugins-dependencies
Frontend/.pub-cache/
Frontend/android/.gradle/
Frontend/android/local.properties
Frontend/ios/Pods/
Frontend/.flutter-plugins
